{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ compound.title }}</h1>
<!-- author detail link not yet defined -->
  <p><strong>CAS number:</strong> <a href="">{{ compound.cas_number }}</a></p>
  <p><strong>IUPAC name:</strong> {{ compound.iupac_name }}</p>
  <p><strong>SMILES:</strong> {{ compound.smiles }}</p>
  <img class="structure-img" alt="Tiformin.png" src={{ compound.pcp_data.image_url  }} title="A structure of Tiformin">

  <p><strong>ISBN:</strong> {{ compound.cid_number }}</p>
  <p><strong>Synonyms:</strong> {{ compound.pcp_data.synonyms }}</p>


<!-- <p><strong>Genre:</strong> {% for genre in compound.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in compound.compoundinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
    -->
{% endblock %}