{% extends "base_generic.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %}
    {% if compound.trade_name %}
    <title>{{ compound.trade_name }}</title>
    {% else %}
    <title>{{ compound.iupac_name }}</title>
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/substructure.css' %}">
{% endblock %}
{% block content %}
    <div class="col-sm-5 ">
         <h4 class="intro">{{ compound.iupac_name }}</h4>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            <button type="submit"  class="btn btn-primary" >
            <span class="glyphicon glyphicon"></span>Submit</button>
        </form>
    </div>
    <div class="col-sm-5 ">
        <div style=" position:relative; top:8px">
            <img class="structure-img" src={{ compound.structure_url }} title={{compound.iupac_name}} >
        </div>
        <div style=" position:relative; top:24px; width:320px; left:24px">
            <p><strong>Synonyms:</strong> {{ compound.synonyms|truncatechars:124 }}</p>
        </div>
    </div>
{% endblock %}
