{% extends "base_listview.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-7">
        <div align="right" style=" position:relative; right:6px">
            <button id="show-odor" class="btn btn-primary" onclick="$('.odor-terms').toggle();"
                    style=" position:relative; border: none; background-color: #bad0ba;">
                <span class="glyphicon glyphicon"></span>Scent categories</button>
            {% if user.is_authenticated %}
               <a href="{% url 'user-compound-list' %}"> <button class="btn btn-primary" style="border: none; ">
                    <span class="glyphicon glyphicon"></span>Personal notes</button></a>
            {% else %}
                <button style=" position:relative; border: none; background-color: #bad0ba;" class="btn btn-primary" disabled>
                    <span class="glyphicon glyphicon"></span>Personal notes</button>
            {% endif %}
                 <a href="{% url 'chem-filter' chem_type='heteroaromatics' %}">
                <button  class="btn btn-primary"
                    style=" position:relative; border: none; background-color: #bad0ba;">
                <span class="glyphicon glyphicon"></span>Heteroaromatics</button></a>
        </div>
        {% if compound_list %}
         <h5 style="color: #565c70; position:relative; left:42px; bottom: 24px"><strong>{{ page_header|capfirst }}</strong></h5>
            <ul style="list-style-type: none;">
            {% for compound in compound_list %}
            <li>
                <table>
                <tr>
                    <th>
                        <img class="structure-img" src={{ compound.structure_url }}
                             title={{ compound.iupac_name }}  height="100" width="100">
                    </th>
                    <td>
                        <div style=" position:relative; left:7px;">
                        <a href="{{ compound.get_absolute_url }}">{{ compound }}</a>
                        </div>
                        <div class="odor-terms" style=" display: none; position:relative; left:8px; color: grey ">
                            <h5>{% for cpd in compound.odor_categories.all %}
                                    {{ cpd.term }}
                                {% endfor %}
                            </h5>
                        </div>
                    </td>
                </tr>
                </table>
            </li>
            {% endfor %}
            </ul>
        {% else %}
             <p>No compounds matched this query</p>
        {% endif %}
    </div>
    <div class="col-sm-3">
        {% load widget_tweaks %}
        <form method="get">
            <div class="well">
              <div class="row">

                  {{ compound_filter.form.cas_number.label_tag }}
                  {% render_field compound_filter.form.cas_number class="form-control" %}

                  {{ compound_filter.form.iupac_name.label_tag }}
                  {% render_field compound_filter.form.iupac_name class="form-control" %}

                  {{ compound_filter.form.trade_name.label_tag }}
                  {% render_field compound_filter.form.trade_name class="form-control" %}

                  {{ compound_filter.form.odor_description.label_tag }}
                  {% render_field compound_filter.form.odor_description class="form-control" %}

                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>Search</button>
              </div>
            </div>
        </form>
        <div id="show-search-results" >
        <table class="table table-bordered">
            <tbody>
              {% for compound in compound_filter.qs %}
                <tr>
                  <td><a href="{{ compound.get_absolute_url }}">{{ compound }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}


