{% extends "base_generic.html" %}
{% load bootstrap3 %}

{% block title %}
    {% if compound.trade_name %}
    <title>{{ compound.trade_name }}</title>
    {% else %}
    <title>{{ compound.iupac_name }}</title>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="col-sm-5 ">
        {% if compound.trade_name %}
            <h4 class="intro"> {{ compound.trade_name }}</h4>
        {% else %}
            <h4 class="intro">{{ compound.iupac_name }}</h4>
        {% endif %}
        {% if compound.supplier %}
            <p><strong>Supplier:</strong> {{ compound.get_supplier_display }}</p>
        {% endif %}
        {% if compound.trade_name %}
            <p><strong>IUPAC name:</strong> {{ compound.iupac_name }}</p>
        {% endif %}
        <p><strong>CAS number:</strong> {{ compound.cas_number }}</a></p>
        <p><strong>SMILES:</strong> {{ compound.smiles }}</p>
        {% if compound.odor_description %}
            <p><strong>Odor description:</strong> {{ compound.odor_description }}</p>
        {% endif %}
        {% if compound.odor.all %}
             <p><strong>Odor categories:</strong></p>
            {% for odor in compound.odor.all %}
               {{ odor }}
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            {% if user_notes %}
                {{ user_notes }}
            {% else %}
                <form method="post" novalidate>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary" >
                    <span class="glyphicon glyphicon"></span>Submit</button>
                </form>
            {% endif %}
        {% else %}
                <form method="post" novalidate>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                    </form>
        {% endif %}
        </div>
        <div class="col-sm-5 ">
        <img class="structure-img" src={{ compound.structure_url }} title={{compound.iupac_name}} >
    </div>
    <div class="col-sm-10 ">
        <br>
        <p><strong>Synonyms:</strong> {{ compound.synonyms }}</p>
        {% if compound.odor_types %}
          <p><strong>Odor types:</strong>{{ compound.odor_types }}</p>
        {% endif %}
</div>
{% endblock %}
