{% extends "base_generic.html" %}
{% load bootstrap3 %}

{% block title %}
    {% if compound.trade_name %}
    <title>{{ compound.trade_name }}</title>
    {% else %}
    <title>{{ compound.iupac_name }}</title>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="col-sm-5 ">
        {% if compound.trade_name %}
            <h3 class="page-header"> {{ compound.trade_name }}</h3>
        {% else %}
            <h3 class="page-header">{{ compound.iupac_name }}</h3>
        {% endif %}
        {% if compound.supplier %}
            <p><strong>Supplier:</strong> {{ compound.get_supplier_display }}</p>
        {% endif %}
        {% if compound.trade_name %}
            <p><strong>IUPAC name:</strong> {{ compound.iupac_name }}</p>
        {% endif %}
        <p><strong>CAS number:</strong> {{ compound.cas_number }}</a></p>
        <p><strong>SMILES:</strong> {{ compound.smiles }}</p>
        {% if compound.odor_description %}
            <p><strong>Odor description:</strong> {{ compound.odor_description }}</p>
        {% endif %}
        {% if compound.odor.all %}
             <p><strong>Odor categories:</strong></p>
            {% for odor in compound.odor.all %}
               {{ odor }}
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            {% if user_notes %}
                {{ user_notes }}
            {% else %}
                <form method="post" novalidate>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                <button type="submit">Submit</button>
                </form>
            {% endif %}
        {% else %}
                <form method="post" novalidate>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                <button type="submit" disabled>Submit</button>
        {% endif %}
        </div>
        <div class="col-sm-5 ">
        <img class="structure-img" src={{ compound.structure_url }} title={{compound.iupac_name}} >
    </div>
    <div class="col-sm-10 ">
        <br>
        <p><strong>Synonyms:</strong> {{ compound.synonyms }}</p>
        {% if compound.additional_cas %}
          <p><strong>Alternative CAS no.:</strong>{{ compound.additional_cas }}</p>
        {% endif %}
        {% if compound.odor_types %}
          <p><strong>Odor types:</strong>{{ compound.odor_types }}</p>
        {% endif %}
</div>
{% endblock %}




<!-- <p><strong>Genre:</strong> {% for genre in compound.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in compound.compoundinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
    -->