{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Add Compound</title>{% endblock %}

{% block head %}
<!-- <script src="{% static "js/create_compound.js" %}"></script> -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
{% endblock %}
{% block content %}
  <div class="col-sm-6 ">
    <form id="add-compound-form" action="" method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <table border="1">
        {% for field in form %}
      <tr>
        <th>
        {{ field.label_tag }}
        </th>
        <td>
        {{ field }}
        {{ field.errors }}
        </td>
      </tr>
      {% endfor %}
      </table>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="6LfiTVsUAAAAAGk3OxDhpYLIsMJmzxNvljEePwkz"></div>
     <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
  <div class="col-sm-4 ">
      <input type='text' name='text' id='text'>
      <img id="compound_structure" src="">


      {% comment %} add hidden-field for cpd structure img and iupac name until retrieved
https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html
{% endcomment %}
      <!--<p><strong>IUPAC name:</strong> {{ compound.iupac_name }}</p>-->
      <!--<div data-bind="visible: shouldShow">-->
          <!--<img class="ajax-structure-img" src={{ compound.structure_url }} title={{compound.iupac_name}} height="100" width="100" >-->
    <!--You will see this message only when "shouldShowMessage" holds a true value.-->
    <!--</div>-->
      <!--<img data-bind="attr: {src: ImageSource()}" height="100" width="100" />-->
    <!--<img class="ajax-structure-img" src={{ compound.structure_url }} title={{compound.iupac_name}} height="100" width="100" >-->
  </div>
{% endblock %}
{% block js %}
  <script>
      $("#id_cas_number").change(function () {
      var cas_number = $(this).val();

      $.ajax({
        url: '{% url "process_cas" %}',
        data: {
            'cas_number': cas_number
        },
        dataType: 'json',
        success: function (data) {
            alert(data.iupac_name)
            console.log(data.structure_url)
            $("#text").val(data.iupac_name);
            $("#compound_structure").attr('src',data.structure_url);
        }
      });
    });
  </script>
{% endblock %}
