{% extends "base_generic.html" %}
{% load static %}
{% load i18n widget_tweaks %}


{% block title %}<title>Add Compound</title>{% endblock %}
{% block head %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}
  <div class="col-sm-5 ">
    <h4 style="line-height: 35px;">Add new fragrance compound</h4>
    <form id="add-compound-form" action="" method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <!--<div class="g-recaptcha" data-sitekey="6LfiTVsUAAAAAGk3OxDhpYLIsMJmzxNvljEePwkz"></div>-->
      <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
      <button type="submit" class="btn btn-success" style="float: right;"><span class="glyphicon glyphicon-ok">
        </span>Submit</button>
    </form>
  </div>
    <div class="col-sm-5"  style=" position:relative; top:27px;">
      <button class="btn btn-primary" onClick="window.location.reload()"><span class="glyphicon glyphicon-refresh"></span>
          Refresh
      </button>
        <div style=" position:relative; top:9px;">
      <p>IUPAC name: <input type='text' name='text' id='iupac_name' size="80" ></p>
         </div>
    <div id="object_exists" style=" display: none; position:relative; left:13px; top:28px; width:300px; height:200px;">
      <h4>Compound exists in database: </h4>
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Compounds index</a></li>
      </ul>
    </div>
    <div id="not_found" style=" display: none; position:relative; left:13px; top:28px; width:300px; height:200px;">
        <ul class="sidebar-nav">
          <li><h4>No compound found for this CAS number</h4></li>
      </ul>
    </div>
    <div style="text-align:left; position:relative; top:7px;">
        <img id="compound_structure" src="" border="1">
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{% static 'js/create_compound.js' %}"></script>
  <script>
      $("#id_cas_number").change(function () {
      var cas_number = $(this).val();
      $.ajax({
        url: '{% url "process_cas" %}',
        data: {
            'cas_number': cas_number
        },
        dataType: 'json',
        success: function (data) {
            $("#object_exists").hide();
            $("#not_found").hide();
            if (data.error == 'No compound found for this CAS number')
            {
               $("#not_found").show();
               console.log(data.error);
            }
            if (data.object_exists)
            {
               $("#object_exists").show();
               $("#object_exists a").attr("href",data.object_exists);
               $("#object_exists a").text(data.object_exists_name);
               console.log(data.object_exists);
            }
            else
            {
                $("#iupac_name").val(data.iupac_name);
                $("#compound_structure").attr('src',data.structure_url);
                $("#id_iupac_name").val(data.iupac_name);
                $("#id_smiles").val(data.smiles);
                $("#hidden_cid").val(data.hidden_cid);
            }
        }
      });
    });
  </script>
{% endblock %}
