{% extends "base_listview.html" %}

{% load staticfiles %}



{% block content %}
            <ul>
            {% for obj in odor_type_list %}
            <li>
                <table>
                <tr>
                        <h6><a href="{% url 'compound-odor-type-filter' obj.term %}" style="color: grey; ">
                            {{ obj.term }}</a></h6>
                        <p>{{ obj.description }}</p>
                </tr>
                </table>
            </li>
            {% endfor %}
            </ul>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}


