{% extends "base_generic.html" %}

{% load staticfiles %}

{% block content %}
     <h4 class="page-header">Phenolic compounds</h4>
    <div class="col-sm-6">

        {% if compound_list %}
            <ul>
            {% for compound in compound_list %}
            <li class="list-unstyled">
            <img class="structure-img" src={{ compound.structure_url }} title={{ compound.iupac_name }}  height="100" width="100">
            <a href="{{ compound.get_absolute_url }}">{{ compound }}</a>
            </li>
            {% endfor %}
            </ul>
        {% else %}
             <p>No compounds matched this query</p>
        {% endif %}
    </div>
    <div class="col-sm-4">
        <div style=" position:relative; top:12px;">
            <form method="get">
                <table>
                    {{ compound_filter.form }}
                </table>
                      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
            </form>
            <ul>
            {% for compound in compound_filter.qs %}
                <table>
                    <li><a href="{{ compound.get_absolute_url }}">{{ compound }}</a></li>
                </table>
            {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}


