{% extends "base_listview.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %}
    <title>{{ substructure.name }}</title>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/substructure.css' %}">
{% endblock %}
{% block content %}
    <div class="col-sm-3 ">
            <div >
            <img class="center-cropped" src={{ substructure.structure_url }}
                 style="width:200px;height:200px;" title={{compound.iupac_name}} ></div>
    </div>
    <div class="col-sm-7 ">
        {{ substructure }}
        {{ substructure.slug }}
       {% for compound in page_obj %}
        {{ compound }}
        {% endfor %}
        </div>
    <div class="col-sm-10 ">
        <br>
        <p><strong>Synonyms:</strong> {{ compound.synonyms }}</p>
        {% if compound.odor_types %}
          <p><strong>Odor types:</strong>{{ compound.odor_types }}</p>
        {% endif %}
</div>
{% endblock %}
