{% extends "base_listview.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block head %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css">
{% endblock %}

{% block content %}
    <div class="col-sm-10">
        {% if substructure_list %}
            <ul style="list-style-type: none;">
            <li>
            {% for substruct in substructure_list %}
            <a href="{{ substruct.get_absolute_url }}"><img class="structure-img" src={{ substruct.structure_url }}
                    title={{ substruct.name }}  height="200" width="200">
            </a>
            {% endfor %}
            </li>
            <li>
            {% for substruct in substructure_list %}
                <div>
                    <a href="{{ substruct.get_absolute_url }}">{{ substruct }}</a>
                </div>
            {% endfor %}
            </li>
            </ul>
        {% else %}
           <p>No compounds matched this query</p>
        {% endif %}
          <div style=" position:relative; margin-left: 46px; top: 8px ">
            <form method="get" style="width: 250px" >
              <div class="row">
                {% bootstrap_form choice_form %}
              </div>
            </form>
          </div>
    {% if plot_div %}
        {{ plot_div|safe }}
        {{ plot_script|safe }}
    {% endif %}

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}


