beautifulsoup4==4.6.3
bokeh==0.13.0
CIRpy==1.0.2
Django==2.0.4
djangorestframework==3.8.2
django-axes==1.2.8
django_rest_swagger==2.1.2
django_debug_toolbar==1.9.1
psycopg2==2.7.5
PubChemPy==1.0.4
rdkit==2009.Q1-1
requests==2.13.0
ruamel.base==1.0.0
