<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap3 %}
<head>
<!-- Add additional CSS in static file  -->
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block title %}<title>Bioactive Compounds</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chemical structures, data, literature and commercial sources for pharmaceutical, functional food and flavor & fragrance compounds">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script async src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .ad-image {height: auto;width: auto;max-width: 82%;max-height: 82%;}
        .rightMenu {position:absolute;float:right;top: 0;left: 100%;}
    </style>
{% block head %}{% endblock %}
</head>
{% load bootstrap3 %}
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="position: relative; margin-left: 8px; " class="navbar-brand" >FuncMols</a>
    </div>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-right">
            <div class="form-group">
                <a href="{% url 'logout' %}?next={% url 'index' %}" class="btn btn-default">Logout</a>
            </div>
        </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'password_reset' %}" >Password reset</a></li>
            <li><a href="{% url 'contact' %}" >Supplier enquiries</a></li>
            <li><a href="{% url 'about' %}" >About</a></li>
            <li><a href="{% url 'api_docs' %}">API</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'user-activity-list' %}">Saved compound info</a></li>
          </ul>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="collapse navbar-collapse">
        <form method="post" action="{% url 'login' %}" class="navbar-form navbar-right">
        <div class="form-group">
            <form >
                {% csrf_token %}
                <input class="form-control" id="id_username" type="text" placeholder="Username" name="username" maxlength="30" />
                <input class="form-control" type="password" name="password" placeholder="Password" id="id_password" />
                <input type="submit" class="btn btn-default" value="Log in" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <a href="{% url 'signup' %}" class="btn btn-secondary">Register</a>
            </form>
        </div>
        </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'password_reset' %}" >Password reset</a></li>
            <li><a href="{% url 'contact' %}" >Supplier enquiries</a></li>
            <li><a href="{% url 'about' %}" >About</a></li>
            <li><a href="{% url 'api_docs' %}">API</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'signup' %}" class="btn btn-secondary">Saved compound info</a></li>
          </ul>
        </li>
      </ul>
    </div>
  {% endif %}
  </div>
</nav>
{% block sidebar %}
      <div class="col-sm-2">
      <ul class="sidebar-nav">
        <div style=" position:relative; left:6px">
            <a href="{% url 'bioactive-cores' %}"> <button type="button" style="width: 200px; background-color: #fbfcfb;" class="btn btn-default" >
                Substructures<span class="glyphicon glyphicon"></span></button></a>
            <a href="{% url 'all-mechanisms' %}"> <button type="button" style="width: 200px; background-color: #fbfcfb;" class="btn btn-default" >
                Mechanisms<span class="glyphicon glyphicon"></span></button></a>
            <a href="{% url 'bioactive-add' %}" class="btn btn-default" style="width: 200px; background-color: #fbfcfb; ">Add compound</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user-activity-list' %}" class="btn btn-default" style="width: 200px; background-color: #fbfcfb; ">Saved compound info</a>
            {% endif %}
        <div>
                        {% if body_systems %}
            <button type="button" data-toggle="dropdown" style="background-color: #fbfcfb;width: 200px;" class="btn btn-default dropdown-toggle dropdown-right" >
            Literature references<span class="caret"></span></button>
            <ul class="dropdown-menu rightMenu" >
                {% for body_sys in body_systems %}
                <li class="dropdown-submenu act-submenu"><a class="action_parent" >{{ body_sys.class_label }}</span></a>
                <ul class="dropdown-menu actions_menu up rightMenu">
                    {% for action in body_sys.actions %}
                        <li class="dropdown-submenu mech-submenu"><a class="mech_parent" >{{ action.0 }}</span></a>
                        <ul class="dropdown-menu actions_menu up rightMenu">
                            {% for mech in action.1 %}
                            <li><a href="{% url 'literature-references' pk=mech.pk compound_type='mechanism' %}">{{ mech.name }}</a></li>
                            {% endfor %}
                        </ul></li>
                   {% endfor %}
                </ul></li>
                {% endfor %}
            </ul>
            <div>
            <button type="button" data-toggle="dropdown" style="background-color: #fbfcfb;width: 200px;" class="btn btn-default dropdown-toggle dropdown-right" >
            Drug target proteins<span class="caret"></span></button>
            <ul class="dropdown-menu rightMenu" >
                {% for body_sys in body_systems %}
                <li class="dropdown-submenu act-submenu"><a class="action_parent" >{{ body_sys.class_label }}</span></a>
                <ul class="dropdown-menu actions_menu up rightMenu">
                    {% for action in body_sys.actions %}
                        <li><a href="{% url 'proteins' search_query=action.0 %}">{{ action.0 }}</a></li>
                    {% endfor %}
                </ul></li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
                </div>
            <div>
            <button type="button" data-toggle="dropdown" style="width: 200px; background-color: #fbfcfb;" class="btn btn-default dropdown-toggle" >
                Functional molecules<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'all-odorants'%}">Fragrance</a></li>
                <li><a href="{% url 'bioactive-list' category='medicinal' %}">Medicinal</a></li>
                <li><a href="{% url 'bioactive-list' category='food' %}">Nutraceutical</a></li>
            </ul>
          </div>
      </div>
    </ul>
      {% if compound_search %}
        <div style=" position:relative; top: 18px ">
        <form method="get" >
            <div class="well">
              <div class="row">
                {% bootstrap_form compound_search %}
                <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon">
                  </span>Submit</button>
              </div>
            </div>
        </form>
        </div>
      {% endif %}
          <br>
        <div style="margin-top:12px">
          <a href="https://www.bluebrainboost.com/nootropics/56"><img class="ad-image" src="{% static 'images/bluebrain.png' %}" alt="BlueBrainBoost" ></a>
        </div>
        <div style="position: relative; margin-top: 14px; margin-bottom:8px">
            <a href="http://www.freedom-pharmacy.bz/BannerAdClicks.asp?AdID=0&AffID=7390"><img class="ad-image" src="{% static 'images/freepharm.png' %}" alt="freedom-pharmacy" ></a>
        </div>
        <div>
        <h6 style="width: auto">Purchases through the above links give commission which helps fund this website</h6>
      </div>
  </div>
{% endblock %}
{% block content %}{% endblock %}
{% block js %}{% endblock %}
  </body>
</html>