<!DOCTYPE html>
<html lang="en">
<head>
<!-- Add additional CSS in static file  -->
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block title %}<title>Fragrance Compounds</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block head %}{% endblock %}
</head>

</head>

{% load bootstrap3 %}

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
  {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#" >Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Password reset</a></li>
            <li><a href="#">Company Info</a></li>
            <li><a href="#">Some other flatpage</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'user-activity-list' %}">Saved compound information</a></li>
          </ul>
        </li>
      </ul>
            <div class="navbar-form navbar-left">
                <div class="form-group">
          <a href="{% url 'logout' %}?next={% url 'index' %}" class="btn btn-default">Logout</a>
                </div>
            </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'user-activity-list' %}">Saved compound information</a></li>
          </ul>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#" >Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Password reset</a></li>
            <li><a href="#">Company Info</a></li>
            <li><a href="#">Some other flatpage</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'signup' %}">Saved compound information</a></li>
          </ul>
        </li>
      </ul>
        <form method="post" action="{% url 'login' %}" class="navbar-form navbar-left">
        <div class="form-group">
            <form >
                {% csrf_token %}
                <input class="form-control" id="id_username" type="text" placeholder="Username" name="username" maxlength="30" />
                <input class="form-control" type="password" name="password" placeholder="Password" id="id_password" />
                <input type="submit" class="btn btn-default" value="Log in" />
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                <a href="{% url 'signup' %}" class="btn btn-secondary">Register</a>
            </form>
        </div>
        </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'signup' %}">Saved compound information</a></li>
          </ul>
        </li>
      </ul>
    </div>
  {% endif %}
  </div>
</nav>

{% block sidebar %}
   <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      <ul class="sidebar-nav">
        <div style=" position:relative; left:6px;">
            <a href="{% url 'index' %}" class="btn btn-default" style="width: 170px">All compounds</a>
            <a href="{% url 'substructures' %}" class="btn btn-default" style="width: 170px; background-color: #fbfcfb; ">Substructures</a>
            <a href="{% url 'odorant-add' %}" class="btn btn-default" style="width: 170px">Add compound</a>
        </div>
      </ul>
      <ul class="dropdown-menu">
        <li><a href="{% url 'bioactive-list' category='medicinal' %}">Medicinal </a></li>
        <li><a href="{% url 'all-odorants'%}">Fragrance</a></li>
        <li><a href="{% url 'bioactive-list' category='food' %}">Food</a></li>
     </ul>
    {% if compound_search %}
    <div style=" position:relative; top: 34px ">
    <form method="get" >
        <div class="well">
          <div class="row">
            {% bootstrap_form compound_search %}
            <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon">
              </span>Search</button>
          </div>
        </div>
    </form>
    </div>
    {% endif %}
 {% endblock %}

      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}

      </div>
    </div>
      </div>
    {% block js %}{% endblock %}

  </body>
</html>