<!DOCTYPE html>
<html lang="en">
<head>
<!-- Add additional CSS in static file  -->
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block title %}<title>Fragrance Compounds</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     {% block head %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      <ul class="sidebar-nav">
        <div style=" position:relative; left:6px; top:9px;">
          <li><a href="{% url 'index' %}">All compounds</a></li>
          <li><a href="{% url 'compound-add' %}">Add compounds</a></li>
        <div style=" position:relative; top:19px;">
            <li><a href="{% url 'index' %}">All compounds</a></li>
            <li><a href="{% url 'aliphatic-alcohols' %}">Aliphatic alcohols</a></li>
            <li><a href="{% url 'aliphatic-carbonyls' %}">Aliphatic carbonyls</a></li>
            <li><a href="{% url 'aromatic-alcohols' %}">Aromatic alcohols</a></li>
            <li><a href="{% url 'aromatic-carbonyls' %}">Aromatic carbonyls</a></li>
            <li><a href="{% url 'heteroaromatics' %}">Heteroaromatics</a></li>
            <li><h6>search by substructure</h6></li>
        <div style=" position:relative; top:19px;">
          <h5><a href="{% url 'odor-type-list' %}" style="color: #565c70; ">Scent Categories</a></h5>
          {% for obj in odor_types %}
          <a href="{% url 'compound-odor-type-filter' obj.term %}">{{ obj.term }}</a>
      {% endfor %}
        </div>
        </div>
        </div>
      </ul>
     {% block sidebar %}
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
          <h5 class="page-header" style="color: #565c70; ">{{ page_header }}</h5>
          {% block content %}
          {% endblock %}
            {% block pagination %}
              {% if is_paginated %}
                  <div class="pagination">
                      <span class="page-links">
                          {% if page_obj.has_previous %}
                              <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                          {% endif %}
                          <span class="page-current">
                              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                          </span>
                          {% if page_obj.has_next %}
                              <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                          {% endif %}
                      </span>
                  </div>
              {% endif %}
            {% endblock %}
      </div>
    </div>
      </div>
    {% block js %}{% endblock %}
  </body>
</html>
