{% extends 'base_bioactive_listview.html' %}
{% block title %}<title>About FuncMols</title>{% endblock %}
{% block content %}
<div class="col-sm-10" style="position: relative; margin-top: 14px; left:28px; ">
    <h5><strong>FuncMols</strong></h5>
    <p>
      This site provides users with the ability to access and store various information relating to individual functional molecules.<br />
      Is intended for end users and suppliers of registered or known organic compounds. Such users may be from either industry, <br />
        academia or the general public.
    </p>
    <h5 style="margin-top: 24px"><strong>Privacy policy</strong></h5>
    <p>Email addresses for user registration will be kept confidential and not shared with third parties. Data stored within user profiles<br />
        are kept private and the site implements a robust level security. In order to prevent brute force login attacks, accounts will be <br />

    <p style="margin-top: 24px">Site owner:<br />
     Metaclass Software Ltd<br />
     Column House London Road<br />
     Shrewsbury, SY2 6NN<br />
     United Kingdom<br /></p>
  <p style="margin-top: 24px">
      With thanks to:<br />
      Nicholas Rego and David Koes<br />
      3Dmol.js: molecular visualization with WebGL<br />
      Bioinformatics (2015) 31 (8): 1322-1324 doi:10.1093/<a href="http://doi.org/10.1093/bioinformatics/btu829">bioinformatics</a>/btu829<br />
  </p>
</div>
{% endblock %}
