{% extends "base_bioactive_listview.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<div class="col-sm-10" style="position: relative; margin-top: 14px; left:28px; ">
  <h4>User login</h4>
  <form method="post" style="width:300px">
    {% csrf_token %}
          {% bootstrap_form form %}
    <button class="btn btn-success" type="submit">Sign in</button>
  </form>
  <div style="margin-top: 16px; ">
    <a href="{% url 'password_reset' %}">Forgotten password?</a>
  </div>
  <div style="margin-top: 7px; ">
    <a href="{% url 'signup' %}">Register for an account</a>
  </div>
</div>
{% endblock %}