{% extends "base_odorant_generic.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title %}
    {% if odorant.chemical_name %}
    <title>{{ odorant.chemical_name }}</title>
    {% else %}
    <title>{{ odorant.iupac_name }}</title>
    {% endif %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/substructure.css' %}">
{% endblock %}
{% block content %}
    <div class="col-sm-5 ">
         <h4 class="intro">{{ odorant.iupac_name }}</h4>
        <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
            <button type="submit"  class="btn btn-primary" >
            <span class="glyphicon glyphicon"></span>Submit</button>
        </form>
    </div>
    <div class="col-sm-5 ">
        <div style=" position:relative; top:8px">
            <img class="structure-img" src={{ odorant.structure_url }} title={{odorant.iupac_name}} >
        </div>
        <div style=" position:relative; top:24px; width:320px; left:24px">
            <p><strong>Synonyms:</strong> {{ odorant.synonyms|truncatechars:124 }}</p>
        </div>
    </div>
{% endblock %}
