{% extends "base_odorant_generic.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    <title>{{ odorant }}</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/substructure.css' %}">
{% endblock %}

{% block sidebar %}
   <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
       <ul class="sidebar-nav">
        <div style=" position:relative; left:6px;">
            <a href="{% url 'index' %}" class="btn btn-default" style="width: 170px">All compounds</a>
            <a href="{% url 'index' %}" class="btn btn-default" style="width: 170px">Cpd Types Dropdown</a>
        </div>
      </ul>

      <ul class="sidebar-nav">
        <div style=" position:relative; left:6px;">
            <a href="{% url 'index' %}" class="btn btn-default" style="width: 170px">Fragrance compounds</a>
            <a href="{% url 'substructures' %}" class="btn btn-default" style="width: 170px; background-color: #fbfcfb; ">Fragrance substructures</a>
            <a href="{% url 'odorant-add' %}" class="btn btn-default" style="width: 170px">Add new compound</a>
        </div>
        <div style=" position:relative;  margin-top: 12px; left:6px;">
                        <a href="{% url 'odorant-substructures' pk=odorant.pk %}">
                <button style="width: 170px" type="button" class="btn btn-secondary">Substructure matches</button></a>
        </div>
        <div style=" position:relative; margin-top: 12px; left:6px;">
                        <a href="{% url 'literature-references' pk=odorant.pk compound_type='odorant' %}">
                <button style="width: 170px" type="button" class="btn btn-secondary">Literature references</button></a>
        </div>
      <div style=" position:relative;  margin-top: 12px; left:6px;">
      {% if user.is_authenticated %}
           <a href="{% url 'user-odorant-sources' pk=odorant.pk %}">
               <button type="button" style="width: 170px" class="btn btn-secondary" style="color: #6aaf6a">
               <span class="glyphicon glyphicon"></span>Commercial sources</button>
           </a>
        {% else %}
            <button style="width: 170px" type="button" class="btn btn-secondary" disabled>
                <span class="glyphicon glyphicon"></span>Commercial sources</button>
        {% endif %}
         </div>
        </ul>
        {% if compound_search %}
        <div style=" position:relative; top: 34px ">
        <form method="get" >
            <div class="well">
              <div class="row">
                {% bootstrap_form compound_search %}
                <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon">
                  </span>Submit</button>
              </div>
            </div>
        </form>
        </div>
        {% endif %}
 {% endblock %}

{% block content %}
    <div class="col-sm-5 ">
         <h4 class="intro">{{ odorant.iupac_name }}</h4>
        {% if odorant.trade_name %}
            <p><strong>Trade name:</strong> {{ odorant.trade_name }}</p>
        {% endif %}
        <p><strong>CAS number:</strong> {{ odorant.cas_number }}</a></p>
        <p><strong>SMILES:</strong> {{ odorant.smiles }}</p>
        {% if odorant.odor_types %}
          <p><strong>Odor types: </strong>{{ odorant.odor_types }}</p>
        {% endif %}
        {% if odor_types %}
             <p><strong>Odor categories: </strong>{{ odor_types }}</p>
        {% endif %}
        {% if odorant.odor_description %}
            <p><strong>Odor description:</strong> {{ odorant.odor_description }}</p>
        {% endif %}
        {% if form2 %}
            <form method="post">
            {% csrf_token %}
            {% bootstrap_form form2 %}
                {% if user.is_authenticated %}
                <button type="submit"  class="btn btn-primary" >
                <span class="glyphicon glyphicon"></span>Submit</button>
                {% else %}
                <button type="submit"  class="btn btn-primary" disabled>
                <span class="glyphicon glyphicon"></span>Submit</button>
                {% endif %}
            </form>
        {% endif %}
        {% if odorant.created_by == request.user.profile or request.user.is_superuser %}
            <a href="{% url 'odorant-update' pk=odorant.pk %}">
            <button type="button" class="btn btn-secondary" style="margin-top: 3px; width: 70px">Edit</button></a>
        {% else %}
            <a href="{% url 'odorant-update' pk=odorant.pk %}">
            <button type="button" class="btn btn-secondary" disabled>Edit</button></a>
        {% endif %}
        </div>
    <div class="col-sm-5 ">
        <div style=" position:relative; top:16px" >
            <img width="280" height="280" class="structure-img" src={{ odorant.structure_url }} title={{substructure}} >
        </div>
        <div style=" position:relative; top:24px; width:320px; left:24px">
            <p><strong>Synonyms:</strong> {{ odorant.synonyms|truncatechars:124 }}</p>
        </div>
    </div>
    <div class="col-sm-10 " style="margin-top:10px">
        {% if substructures %}
            <p><strong>Structural fragments</strong>
            {% for substruct in substructures %}
                <a href="{{ substruct.get_absolute_url }}">
                    <img src={{ substruct.structure_url }} height="120" width="120" title={{ substruct }} >
            </a></p>
            {% endfor %}
        {% endif %}
        <br>
        {% if user.is_authenticated %}
        <div id="user-notes">
        {% if user_notes %}
            <div><p><strong>My notes</strong></div>
            {{ user_notes }}
        </div>
        <div id="notes-form" style="display: none;">
            <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit"  class="btn btn-primary" >
                <span class="glyphicon glyphicon"></span>Submit</button>
            </form>
        </div>
        <div style="position: relative; top: 13px; width:400px;">
            <div style="float: left; width: 80px; ">
                <button type="button"  id="show-odor" class="btn btn-secondary" style="color: #6aaf6a"
                        onclick="$('#user-notes, #notes-form').toggle();">
                Edit</button></div>
            <form method="POST" action="{% url 'user-notes-delete' pk=user_notes_pk %}" >
                {% csrf_token %}
                <button type="submit"  class="btn btn-secondary" onclick="return confirm('Are you sure?');" style="color: #6aaf6a">
                <span class="glyphicon glyphicon"></span>Delete</button>
            </form>
        </div>
        </div>
    {% else %}
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
        <button type="submit"  class="btn btn-primary" >
            <span class="glyphicon glyphicon"></span>Submit</button>
        </form>
    {% endif %}
    {% else %}
            <form method="post" novalidate>
              {% csrf_token %}
              {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary" disabled>
                <span class="glyphicon glyphicon"></span>Submit</button>
            </form>
    {% endif %}
</div>
{% endblock %}
