{% extends "base_odorant_generic.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load partition %}

{% block title %}<title>Substructures</title>{% endblock %}

{% block head %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css">
{% endblock %}

{% block content %}
<div class="col-sm-10" >
    <h5><strong>Fragrance compounds substructures</strong></h5>
    <table>
    {% for row in substructure_list|columns:5 %}
     <tr>
        {% for item in row %}
            <td>
                <a href="{{ substruct.get_absolute_url }}">
                    <img class="structure-img" src={{ item.structure_url }}
                         title={{ item.name }}  height="190" width="190"></a>
                <div><a href="{{ item.get_absolute_url }}">{{ item|capfirst }}</a></div>
            </td>
        {% endfor %}
       </tr>
       {% endfor %}
       </table>
       <div>
        <form method="get" style="width: 250px; margin-top:16px; margin-left:16px" >
          <div class="row">
            {% bootstrap_form choice_form %}
          </div>
        </form>
      </div>
    {% if plot_div %}
        {{ plot_div|safe }}
        {{ plot_script|safe }}
    {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
