{% extends "base_odorant_listview.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    <title>{{ substructure.name }}</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/substructure.css' %}">
{% endblock %}

{% block content %}
<ul class="breadcrumb" style="position: relative; left:20px; background-color: transparent;">
  <li><a class="breadcrumb-item" href="{% url 'index' %}">Home</a></li>
  <li><a class="breadcrumb-item" href="{% url 'substructures' %}">Substructures</a></li>
  <li><a class="breadcrumb-item active" href="{% url 'substructure-detail' slug=substructure.slug %}">{{ substructure.name }}</a></li>
</ul>
    <div class="col-sm-2 ">
        <div >
        <img class="center-cropped" src={{ substructure.structure_url }}
             style="width:170px;height:170px;" title={{substructure.iupac_name}} ></div>
    </div>
<div class="col-sm-8 ">
    <h4 class="intro"><strong> {{ substructure.name }}</strong></h4>
    <p><strong>Base IUPAC name:</strong>{{ substructure.iupac_name }}</p>
    {% if substructure.odor_category %}
        <p><strong>Characteristic odor type: </strong>
                <a href="{% url 'odorant-odor-type-filter' substructure.odor_category.term %}">{{ substructure.odor_category }}</a></p>
    {% endif %}
    <p style="margin-right:74px">{{ substructure.description }}</p>
</div>
<div class="col-sm-10 ">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="top:12px">
        <div class="btn-group" style="margin-left: 44px; ">
            <button type="button" style="width:135px" class="btn btn-default"><span class="glyphicon glyphicon"></span>{{ chem_type|capfirst }}</button>
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Filter by<span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a href="{% url 'filtered-substructure' slug=substructure.slug chem_type='heteroaromatics' %}">Heteroaromatics</a></li>
            <li><a href="{% url 'filtered-substructure' slug=substructure.slug chem_type='aliphatic_alcohols' %}">Aliphatic alcohols</a></li>
            <li><a href="{% url 'filtered-substructure' slug=substructure.slug chem_type='aliphatic_carbonyls' %}">Aliphatic carbonyls</a></li>
            <li><a href="{% url 'filtered-substructure' slug=substructure.slug chem_type='aromatic_alcohols' %}">Aromatic alcohols</a></li>
            <li><a href="{% url 'filtered-substructure' slug=substructure.slug chem_type='aromatic_carbonyls' %}">Aromatic carbonyls</a></li>
            </ul>
        </div>

                        <label type="button" class="btn btn-secondary"> </label>
            <label type="button" class="btn btn-secondary">Show: </label>
        <button id="show-odor" class="btn btn-primary" onclick="$('.odor-terms').toggle();"
                style=" position:relative; border: none; background-color: #bad0ba; ">
            <span class="glyphicon glyphicon"></span>Scent categories</button>
        {% if user.is_authenticated %}
           <a href="{% url 'user-substructure-detail' slug=substructure.slug %}">
               <button class="btn btn-primary" style="border: none; ">
               <span class="glyphicon glyphicon"></span>My compounds</button>
           </a>
        {% else %}
            <button style=" position:relative; border: none; background-color: #bad0ba;" class="btn btn-primary" disabled>
                <span class="glyphicon glyphicon"></span>My notes</button>
        {% endif %}
    </div>
 </div>
<div class="col-sm-10 ">
    <div style=" position:relative; top:14px">
 {% if odorant_filter.qs %}
         <h5 style="color: #565c70; position:relative; left:42px; bottom: 24px"><strong>{{ page_header|capfirst }}</strong></h5>
            <ul style="list-style-type: none;">
        {% for odorant in odorant_filter.qs %}
        <li>
            <table>
            <tr>
                <th>
                    <img class="structure-img" src={{ odorant.structure_url }}
                         title="{{ odorant.iupac_name }}"  height="100" width="100">
                </th>
                <td>
                    <div style=" position:relative; left:7px; width: 440px">
                    <a href="{{ odorant.get_absolute_url }}">{{ odorant|truncatechars:62  }}</a>
                    </div>
                    <div class="odor-terms" style=" display: none; position:relative; left:8px; color: grey ">
                        <h5>{% for odor_type in odorant.odor_categories.all %}
                                {{ odor_type.term }}
                            {% endfor %}
                        </h5>
                    </div>
                </td>
                <td style=" text-align:right; margin-left: 16px; color: grey ">
                        {{ odorant.chemical_properties.synonyms|truncatechars:50 }}
                   </td>
            </tr>
            </table>
        </li>
        {% endfor %}
            </ul>
        {% elif page_obj %}
            <ul style="list-style-type: none;">
        {% for odorant in page_obj %}
        <li>
            <table>
            <tr>
                <th>
                    <img class="structure-img" src={{ odorant.structure_url }}
                         title="{{ odorant.iupac_name }}"  height="100" width="100">
                </th>
                <td>
                    <div style=" position:relative; left:7px; width: 440px">
                    <a href="{{ odorant.get_absolute_url }}">{{ odorant|truncatechars:62  }}</a>
                    </div>
                    <div class="odor-terms" style=" display: none; position:relative; left:8px; color: grey ">
                        <h5>{% for odor_type in odorant.odor_categories.all %}
                                {{ odor_type.term }}
                            {% endfor %}
                        </h5>
                    </div>
                    {% block user_notes %}{% endblock %}
                </td>
                <td style=" text-align:right; margin-left: 16px; color: grey ">
                        {{ odorant.chemical_properties.synonyms|truncatechars:50 }}
                   </td>
            </tr>
            </table>
        </li>
        {% endfor %}
            </ul>
        {% else %}
             <p style="margin-left:43px; margin-top:16px">No odorants matched this query</p>
        {% endif %}
        </div>
</div>
{% endblock %}
