{% extends "base_odorant.html" %}

{% load staticfiles %}

{% block content %}

<div class="col-sm-10">
        <div align="right" style=" position:relative; right:6px">
            <button id="show-odor" class="btn btn-primary" onclick="$('.odor-terms').toggle();"
                    style=" position:relative; border: none; background-color: #bad0ba;">
                <span class="glyphicon glyphicon"></span>Scent categories</button>
            {% if user.is_authenticated %}
                <button class="btn btn-primary" style="border: none; ">
                    <span class="glyphicon glyphicon"></span>Saved odorants</button>
            {% else %}
                <button style=" position:relative; border: none; background-color: #bad0ba;" class="btn btn-primary" disabled>
                    <span class="glyphicon glyphicon"></span>Saved odorants</button>
            {% endif %}
        </div>
        {% if compound_list %}
            <ul style="list-style-type: none;">
  {% for odorant in compound_list %}
        <li>
            <table>
            <tr>
                <th>
                    <img class="structure-img" src={{ odorant.structure_url }}
                         title={{ odorant.iupac_name }}  height="100" width="100">
                </th>
                <td>
                    <div style=" position:relative; left:7px; width: 440px">
                    <a href="{{ odorant.get_absolute_url }}">{{ odorant|truncatechars:62  }}</a>
                    </div>
                    <div class="odor-terms" style=" display: none; position:relative; left:8px; color: grey ">
                        <h5>{% for odor_type in odorant.odor_categories.all %}
                                {{ odor_type.term }}
                            {% endfor %}
                        </h5>
                    </div>
                        <div class="odorant-notes" style=" position:relative; left:8px; color: grey ">
                            <h5>
                                {% for obj in odorant.notes_set.all %}
                                     {{ obj.notes|truncatechars:62 }}
                                {% endfor %}
                            </h5>
                        </div>
                </td>
                <td style=" text-align:right; margin-left: 16px; color: grey ">
                        {{ odorant.chemical_properties.synonyms|truncatechars:50 }}
                   </td>
            </tr>
            </table>
        </li>
        {% endfor %}
            </ul>
        {% else %}
             <p>There are no compounds which you have created notes for</p>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}


