{% extends "base_bioactive_listview.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}<title>Mechanisms</title>{% endblock %}

{% block head %}
    <script src="{% static 'js/mechanisms.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.3.0/3Dmol-min.js" class="three-d"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
	<style>
	.mol-container {height: 400px; max-height: 400px; position: relative; }
	</style>
{% endblock %}

{% block content %}

    <div class="col-sm-7" style="width: 600px; ">
        {% if plot_div_hac %}
        <div style="display: none" class="chem_data_plot" id="hac">
            {{ plot_div_hac|safe }}
            {{ plot_script_hac|safe }}
        </div>
        <div class="chem_data_plot" id="mw">
            {{ plot_div_mw|safe }}
            {{ plot_script_mw|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="xlogp">
            {{ plot_div_xlogp|safe }}
            {{ plot_script_xlogp|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="rbc">
            {{ plot_div_rbc|safe }}
            {{ plot_script_rbc|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="hetac">
            {{ plot_div_hetac|safe }}
            {{ plot_script_hetac|safe }}
        </div>

        <div style="display: none" class="chem_data_plot" id="sd_hac">
            {{ sd_plot_div_hac|safe }}
            {{ sd_plot_script_hac|safe }}
        </div>
        <div class="chem_data_plot" id="sd_mw">
            {{ sd_plot_div_mw|safe }}
            {{ sd_plot_script_mw|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="sd_xlogp">
            {{ sd_plot_div_xlogp|safe }}
            {{ sd_plot_script_xlogp|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="sd_rbc">
            {{ sd_plot_div_rbc|safe }}
            {{ sd_plot_script_rbc|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="sd_hetac">
            {{ sd_plot_div_hetac|safe }}
            {{ sd_plot_script_hetac|safe }}
        </div>
        {% endif %}
    </div>

    <div class="col-sm-3">
        {% if plot_div_mw %}
        <div style="position: relative; left:25px; margin-top: 26px; height: 700px; ">
              {% bootstrap_form choice_form %}
            </form>
        </div>

        {% elif sd_plot_div_mw %}
        <div style="position: relative; left:25px; margin-top: 26px; height: 350px; ">
              {% bootstrap_form choice_form %}
            </form>
        </div>
        {% endif %}
    </div>

    <div class="col-sm-5 enz_view" id="enz-table" style="display:none">
        <table class="table" id="protein_table">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Target protein structure</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4 enz_view" style="display:none; " id="mol-viewer">
       	<div id="container-01" class="mol-container"></div>
    </div>
    <div class="col-sm-1 enz_view" style="display:none; ">
        <p style="margin-top: 22px; display:none" id="enz-loading">Loading ...</p>
    </div>

<div class="col-sm-4" id="mechanisms-column">
    {% regroup mechanism_list by action as actions_list %}
    <form method="get" onsubmit="return formValidate()">
    {% for action in actions_list %}
        <li style="list-style: none; margin-top:8px; margin-bottom: 6px;" id={{ action.grouper|slugify }}>
            <a style="color: #4F5863; " href="{% url 'bioactive-actions' action=action.grouper|slugify %}">{{ action.grouper }}</a></li>
        <table class="table" style="width:350px; ">
        <tbody >
        {% for mech in action.list %}
            <tr>
                <td style="display: none; " class="compare_prop"><input type="checkbox" name="selected_mechanisms" value="{{ mech.id }}"></td>
                <td style="width: 310px">
                    <a href="{% url 'bioactive-mechanisms' action=action.grouper|slugify mechanism=mech.name|slugify %}">{{ mech.name }}</a></td>
                <td><div class="mech-count">{{mech.item_count}}</div>
                    <div class="enz-panel-button-container" style="display:none">
                        {% if mech.enzymes.all %}
                        <button value="{{ mech.id }}" type="button" class="enz-panel-button" title="View protein target"><span class="glyphicon glyphicon-leaf"></span></button>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endfor %}
</div>

<div class="col-sm-3" style="margin-top: 16px; ">
    <button type="button" id="chem_prop" style="color: #428bca; " class="btn btn-secondary">View chemical property data</button></a>
    <div class="compare_prop" style="display: none; width: 250px; " id="stats_form">
          <button type="submit" id="submit_button" name="mean_data" value='true' class="btn btn-primary" ><span class="glyphicon glyphicon">
            </span>Show data</button>
                <h6 id="sel_info_text" style="display: none; color: #428bca; ">Select from checkboxes</h6>
      </form>
    </div>
    <div>
        <h5 id="error_text" style="display: none; color: orange; ">Select 1 - 20 items</h5>
    </div>
    <div>
        <button type="button" id="show-enz" style="color: #428bca; margin-top:22px; " class="btn btn-secondary">View target protein structures</button></a>
        <h6 id="info_text" style="display: none; color: #428bca; ">Click a leaf button</h6>
    </div>
    <div style="width: 260px; margin-top: 40px; ">
        <form method="get">
          {% bootstrap_form filter_form %}
        </form>
        </ul>
        {% if is_filtered %}
            <a href="{% url 'all-mechanisms' %}"><button type="button" class="btn btn-secondary" >
                <span class="glyphicon glyphicon"></span>Clear filter</button></a>
        {% endif %}
    </div>
</div>

<div class="col-sm-3" style="margin-top: 16px; position:relative; left:10px; ">
    <h5>Skip to:</h5>
        {% regroup mechanism_list by action as actions_list %}
        {% for action in actions_list %}
            <li style="list-style: none; margin-top:8px; margin-bottom: 6px;" >
                <a style="color: #4F5863; " href="#{{ action.grouper|slugify }}">{{ action.grouper }}</a></li>
        {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    var isclicked = "{{ data_display }}";
    if (isclicked){
      $(".compare_prop").show();
      $("#submit_button").show();
      $("#chem_prop").hide()
    };
   $('.enz-panel-button').click(function(){
      $.ajax({
        url: '{% url "all-mechanisms" %}',
        data: {
            'mechanism_id': $(this).val()
        },
        dataType: 'json',
        success: function (data) {
            $.each(data, function(key, val) {
                let tds = '<td><button title=\"' + val.citation + ' PDB ID: ' + val.pdb_number + '\"><span class=\"glyphicon glyphicon-leaf\"></span></button></td> \
                        <td><button type=\"button\" class=\"btn btn-primary enz-button\" value=\"' + val.pdb_number + '\">' + val.pdb_number + '</button></td> \
                        <td>' + val.notes + '</td>';
                $('#enz-table').append('<tr style="height:60px">' + tds + '</tr>');
            });
            $(".enz_view").show();
            setProteinHeight();
            $("html, body").scrollTop(0);
        }});
   });

});
</script>
{% endblock %}