{% extends "base_bioactive_listview.html" %}
{% load staticfiles %}

{% block title %}<title>{{ page_header|capfirst }}</title>{% endblock %}

{% block content %}
<div class="col-sm-10">
    {% if bioactive_list %}

    <div class="col-sm-4">
        {% block page_header %}
        <h5 style="position:relative; left: 22px; "><strong>{{ page_header|capfirst }}</strong>
        </h5>
        {% endblock %}
        </div>
    <div class="col-sm-6" style="position: relative; left: 20px; margin-bottom: 10px; ">
        <span >
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Classifications<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for body_sys in body_systems %}
                <li><a href="{% url 'bioactive-classifications' classification=body_sys|slugify %}">{{ body_sys }}</a></li>
            {% endfor %}
            </ul>
        </span>
        <span>
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Drug actions<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for action in drug_actions %}
                <li><a href="{% url 'bioactive-actions' action=action|slugify %}">{{ action }}</a></li>
            {% endfor %}
            </ul>
         </span>
        {%if mechanisms %}
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Mechanisms<span class="caret"></span></button>
                <ul class="dropdown-menu">
                {% for mech in mechanisms %}
                    <li><a href="{% url 'bioactive-mechanisms' action=current_action|slugify mechanism=mech|slugify %}">{{ mech }}</a></li>
                {% endfor %}
                </ul>
        {% endif %}

    </div>

        <ul style="list-style-type: none;">
        {% for bioactive in bioactive_list %}
        <li>
            <table>
            <tr>
                <th>
                    <img class="structure-img" src={{ bioactive.structure_url }}
                         title="{{ bioactive.iupac_name }}"  height="100" width="100">
                </th>
                <td>
                    <div style=" position:relative; left:13px; width: 440px">
                    <a href="{{ bioactive.get_absolute_url }}">{{ bioactive|truncatechars:62  }}</a>
                    </div>
                </td>
                <td style=" text-align:right; margin-left: 16px; color: grey ">
                        {{ bioactive.chemical_properties.synonyms|truncatechars:50 }}
                   </td>
            </tr>
            </table>
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="col-sm-5">
        <h5 style="position:relative; left: 22px; "><strong>{{ page_header|capfirst }}</strong>
        </h5>
         </div>
    <div class="col-sm-5">
        <span >
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Classifications<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for body_sys in body_systems %}
                <li><a href="{% url 'bioactive-classifications' classification=body_sys|slugify %}">{{ body_sys }}</a></li>
            {% endfor %}
            </ul>
        </span>
        <span>
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Drug actions<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for action in drug_actions %}
                <li><a href="{% url 'bioactive-actions' action=action|slugify %}">{{ action }}</a></li>
            {% endfor %}
            </ul>
         </span>
    </div>
    <div class="col-sm-10">
         <p style="margin-top:28px">No compounds matched this query</p>
    {% endif %}
    </div>
</div>
{% endblock %}