{% extends "base_bioactive_listview.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}<title>Functional Molecules - {{ page_header|capfirst }}</title>{% endblock %}

{% block head %}
    <script src="{% static 'js/biolist.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/molview.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.3.0/3Dmol-min.js" class="three-d"></script>
{% endblock %}
{% block content %}
<div class="col-sm-10">
      <div style="position: relative; width:920; height:400;">
        <ins class="epn-placement" data-config-id="5bec954f7957f332613457d5"></ins>
      </div>
    {% if messages %}{% bootstrap_messages %}{% endif %}
</div>
{% if cid_numbers %}
<div class="col-sm-10 mol-view">
        <table class="table" >
        {% for item in cid_numbers %}
            {% if forloop.counter0|divisibleby:5 %}<tr>{% endif %}
            <td style="border:none; ">
                 <div style="height: 175px; width: 175px; position: relative; " id="3dmol-viewer"
                    class='viewer_3Dmoljs' data-cid={{ item.number }} data-backgroundcolor='0xffffff' data-style='stick'>
                </div>
                {{ item.name }}
            </td>
            {% if forloop.counter|divisibleby:5 %}</tr>{% endif %}
        {% endfor %}
        </table>
 </div>
{% endif %}

{% if proteins %}
    <div class="col-sm-5 enz_view" id="enz-table" style="display:none">
        <table class="table" id="protein_table">
            <thead><tr><th>Ref</th>
                    <th></th><th>Target protein structure</th></tr>
            </thead><tbody></tbody></table>    </div>
    <div class="col-sm-4 enz_view" style="display:none; " id="mol-viewer">
        <div id="container-01" class="mol-container"></div>
    </div>
    <div class="col-sm-1 enz_view" style="display:none; ">
        <p style="margin-top: 22px; display:none" id="enz-loading">Loading ...</p>
    </div>
{% endif %}

{% if bioactive_list %}
<div class="col-sm-4">
        {% block page_header %}
            <h5 style="position:relative; left: 22px; "><strong>{{ page_header|capfirst }}</strong>
            </h5>
        {% endblock %}
    </div>

<div class="col-sm-6 btn-group" style="position: relative; left: 20px; margin-bottom: 10px; ">
    {% if category == 1 and not proteins %}
        <span >
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Classifications<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for body_sys in body_systems %}
                <li><a href="{% url 'bioactive-classifications' classification=body_sys.class_label|slugify %}">{{ body_sys.class_label }}</a></li>
            {% endfor %}
            </ul>
        </span>
    {% endif %}

    {% if d3_struct %}
        <form method="get">
        <button type="button" id="chem_compare" style="color: #428bca; " class="btn btn-secondary">3D structures</button></a>
        <button type="submit" id="submit_selection" class="btn btn-primary" style="display: none; "><span class="glyphicon glyphicon">
        </span>View selected compounds</button>
        <h5 id="error_text" style="display: none; color: orange; ">Select between 1 and 20 items</h5>
    {% endif %}

    {% if proteins %}
            <button type="button" data-proteins="{{ proteins_json }}" id="proteins_button" class="btn btn-primary" ><span class="glyphicon glyphicon">
                </span>Show target proteins</button>

    {% elif category == 2 %}
            <span >
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Categories<span class="caret"></span></button>
                <ul class="dropdown-menu">
                {% for substruct in substructures %}
                    <li><a href="{% url 'bioactive-core-matches' slug=substruct.slug %}">{{ substruct.name|capfirst }}</a></li>
                {% endfor %}
                </ul>
                <a href="{% url 'oligosaccharides' %}"> <button type="button" style="background-color: #fbfcfb;" class="btn btn-default" >
                    Oligosaccharides<span class="glyphicon glyphicon"></span></button></a>
            </span>
    {% endif %}
    {% if mech_pk %}
        <a href="{% url 'literature-references' pk=mech_pk compound_type='mechanism' %}">
            <button style="width: 170px; background-color: #f6f6f6; " type="button" class="btn btn-secondary">Recent literature</button></a>
    {% elif not category == 2 %}
        <button type="button" class="btn btn-default" id="show_activities">Show drug actions<span class="glyphicon glyphicon"></span></button>
        {% if drug_actions %}
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">All drug actions<span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for action in drug_actions %}
                    <li><a href="{% url 'bioactive-actions' action=action|slugify %}">{{ action }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    </div>

    <div class="col-sm-10">
            <ul style="list-style-type: none; position: relative; margin-top: 26px; " id="compounds_list">
            {% for bioactive in bioactive_list %}
            <li><table>
            <tr><th><a href="{{ bioactive.get_absolute_url }}">
                        <img class="structure-img" src={{ bioactive.structure_url }}
                            title="{{ bioactive.iupac_name }}"  height="100" width="100"></a></th>
                <td style="display: none; position: relative; left: 6px; " class="compound_checkbox"><input type="checkbox" name="selected_bioactives" value="{{ bioactive.id }}"></td>
                <td><div style=" position:relative; left:13px; width: 440px"><a href="{{ bioactive.get_absolute_url }}">{{ bioactive|truncatechars:62  }}</a></div>
                                <div class="bioactive_mechanism" style="display: none; position: relative; margin-top:9px; left: 12px; color: grey ">
                {% if bioactive.activity.category == 2 %}
                    <a style="color:#ffc107" href="{% url 'bioactive-mechanisms' action=bioactive.mechanism.action.name|slugify mechanism=bioactive.mechanism.name|slugify %}">{{ bioactive.mechanism.name }}</a>
                {% elif bioactive.activity %}
                    <a style="color:#ffc107" href="{% url 'bioactive-actions' action=bioactive.activity.name|slugify %}">{{ bioactive.activity }}</a>
                {% endif %}
                </div>
                </td>
            {% if not approvals_list %}
                <td style=" text-align:right; margin-left: 16px; color: grey ">{{ bioactive.chemical_properties.synonyms|truncatechars:50 }}</td>
            {% else %}
                 <td style=" text-align:left; margin-left: 4px ">
                     <p>{{ bioactive.approval_date|date:"b Y"|capfirst }}</p>
                     {% if bioactive.mechanism %}
                        <a href="{% url 'bioactive-mechanisms' action=bioactive.activity.action.name|slugify mechanism=bioactive.mechanism.name|slugify %}">{{ bioactive.mechanism.name }}</a>
                     {% elif bioactive.action %}
                        <a href="{% url 'bioactive-actions' action=bioactive.action|slugify %}">{{ bioactive.action }}</a>
                     {% else %} <p></p> {% endif %}</td>
            </tr></table>
            </li>
                            {% endif %}

            {% endfor %}
            </ul>
            {% if d3_struct %}</form>{% endif %}
{% else %}
    <div class="col-sm-5">
        <h5 style="position:relative; left: 22px; "><strong>{{ page_header|capfirst }}</strong>
        </h5>
         </div>
    <div class="col-sm-5">
        <span >
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Classifications<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for body_sys in body_systems %}
                <li><a href="{% url 'bioactive-classifications' classification=body_sys.class_label|slugify %}">{{ body_sys.class_label }}</a></li>
            {% endfor %}
            </ul>
        </span>
        <span>
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Drug actions<span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for action in drug_actions %}
                <li><a href="{% url 'bioactive-actions' action=action|slugify %}">{{ action }}</a></li>
            {% endfor %}
            </ul>
         </span>
    </div>
    <div class="col-sm-10">
         <p style="margin-top:28px">No compounds matched this query</p>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){
        var isclicked = "{{ data_display }}";
        if (isclicked){
          $(".compound_checkbox").show();
          $("#submit_selection").show();
          $("#chem_compare").hide();
          var height = $('#compounds_list').height();
          var mol_height = $('.mol-view').height();
          $('.col-sm-2').height(height + mol_height);
        };
        let show_proteins = {{ show_proteins }}
        if (show_proteins) {
            $("#proteins_button").click();
        }
    });
    </script>
{% endblock %}