<iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/{{ bioactive.cid_number }}#section=Chemical-Vendors&embed=true&hide_title=true" style="width: 100%; height: 300px;"></iframe>


<iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/{{ bioactive.cid_number }}#section=Pharmacology&embed=true&hide_title=true" style="width: 100%; height: 300px;"></iframe>


<iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/{{ bioactive.cid_number }}#section=Springer-Nature-References&embed=true&hide_title=true" style="width: 100%; height: 300px;"></iframe>

<iframe class="pubchem-widget" src="https://pubchem.ncbi.nlm.nih.gov/compound/{{ bioactive.cid_number }}#section=Pharmacology&embed=true&hide_title=true" style="width: 100%; height: 300px;"></iframe>


