{% extends "base_bioactive_generic.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
    <title>{{ bioactive }}</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/substructure.css' %}">
{% endblock %}


{% block content %}
<div class="col-sm-6 " style="position: relative; left:20px; ">
    {% if bioactive.chemical_name %}
        <h4 class="intro">{{ bioactive }}</h4>
        <h5 class="intro">{{ bioactive.iupac_name }}</h5>
    {% else %}
        <h5 class="intro">{{ bioactive.iupac_name }}</h5>
    {% endif %}
    <p><strong>SMILES:</strong> {{ bioactive.smiles }}</p>
    <p><strong>InChIKey:</strong> {{ bioactive.inchikey }}</p>

    <div class="btn-group" role="group" style="margin-top:14px; ">
        <a href="{% url 'literature-references' pk=bioactive.pk compound_type='bioactive' %}">
            <button style="width: 170px; background-color: #f6f6f6; " type="button" class="btn btn-secondary">Literature references</button></a>
        {% if user.is_authenticated %}
           <a href="{% url 'user-compound-sources'  pk=bioactive.pk compound_type='bioactive' %}">
               <button type="button" style=" background-color: #f6f6f6; " class="btn btn-secondary" >
               <span class="glyphicon glyphicon"></span>Saved sources</button>
           </a>
        {% else %}
            <button style="width: 170px" type="button" class="btn btn-secondary" disabled>
                <span class="glyphicon glyphicon"></span>Saved sources</button>
        {% endif %}
    </div>

    <div class="btn-group" role="group" style="margin-top:24px; ">
        <button type="button" class="btn btn-secondary" style="color: #6aaf6a; width:160px; "
                onclick="$('#chem_properties_table').toggle(); $('#substructure_matches').hide(); $('#commercial_sources').hide(); ">
            Chemical properties</button>
        <button type="button" class="btn btn-secondary" style="color: #6aaf6a; width:160px; "
                onclick="$('#substructure_matches').toggle(); $('#chem_properties_table').hide(); $('#commercial_sources').hide();">
            Substructures</button>
        <button type="button" class="btn btn-secondary" style="color: #6aaf6a; width:160px; "
                onclick="$('#commercial_sources').toggle(); $('#chem_properties_table').hide(); $('#substructure_matches').hide(); ">
            Commercial sources</button>
    </div>
        <div id="chem_properties_table" style="display: none">
            <table class="table" style="width: 290px">
            {% for key, value in chemical_properties.items|dictsort:"0.lower" %}
                <tr>
                    <td width="220"><strong>{{ key }}</strong>: </td><td> {{ value }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div id="substructure_matches" style="display: none; margin-top: 32px;  ">
        {% if substructures %}
            {% for substruct in substructures %}
                <a href="{{ substruct.get_absolute_url }}">
                    <img src={{ substruct.structure_url }} height="120" width="120" title={{ substruct }} >
            </a></p>
            {% endfor %}
        {% endif %}

    </div>
</div>
<div class="col-sm-4 ">
    <div style="float:left; position:relative; top:2px" >
        <img width="220" height="220" class="structure-img" src={{ bioactive.structure_url }} title={{substructure}} >
    </div>
    <div style=" position:relative; top:24px; width:280px; left:12px">
        <p><strong>Synonyms:</strong> {{ bioactive.synonyms|truncatechars:124 }}</p>
    </div>
</div>


<div class="col-sm-10 " style="margin-top:10px">

    </div>
{% endblock %}
