{% extends "base_bioactive_listview.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load partition %}

{% block title %}<title>FuncMols - Bioactive Substructures</title>{% endblock %}

{% block head %}
    <script src="{% static 'js/cores_list.js' %}"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
{% endblock %}

{% block content %}

 <div class="col-sm-7" style="width: 600px; ">
        {% if plot_div_hac %}
        <div style="display: none" class="chem_data_plot" id="hac">
            {{ plot_div_hac|safe }}
            {{ plot_script_hac|safe }}
        </div>
        <div class="chem_data_plot" id="mw">
            {{ plot_div_mw|safe }}
            {{ plot_script_mw|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="xlogp">
            {{ plot_div_xlogp|safe }}
            {{ plot_script_xlogp|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="rbc">
            {{ plot_div_rbc|safe }}
            {{ plot_script_rbc|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="hetac">
            {{ plot_div_hetac|safe }}
            {{ plot_script_hetac|safe }}
        </div>

        <div style="display: none" class="chem_data_plot" id="sd_hac">
            {{ sd_plot_div_hac|safe }}
            {{ sd_plot_script_hac|safe }}
        </div>
        <div class="chem_data_plot" id="sd_mw">
            {{ sd_plot_div_mw|safe }}
            {{ sd_plot_script_mw|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="sd_xlogp">
            {{ sd_plot_div_xlogp|safe }}
            {{ sd_plot_script_xlogp|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="sd_rbc">
            {{ sd_plot_div_rbc|safe }}
            {{ sd_plot_script_rbc|safe }}
        </div>
        <div style="display: none" class="chem_data_plot" id="sd_hetac">
            {{ sd_plot_div_hetac|safe }}
            {{ sd_plot_script_hetac|safe }}
        </div>
        {% endif %}
    </div>

    <div class="col-sm-3" id="form_sidebar">
        {% if plot_div_mw or sd_plot_div_mw %}
        <div style="position: relative; left:25px; margin-top: 26px; height: 700px; ">
              {% bootstrap_form choice_form %}
        </div>
        {% endif %}
    </div>

<div class="col-sm-10" id="cores-column">
    <form method="get">
        <div class="btn-group" role="group" style="position:relative; float:right; right: 245px; " id="stats_form">
          <button type="submit" id="submit_button" name="stats_data" value='true' class="btn btn-primary" >
              <span class="glyphicon glyphicon">
            </span>Chemical property statistics</button>
        </div>
    </form>
    {% for category in substructure_sets %}
        <table style="margin-bottom:18px; ">
            <h5 style="color:#4c4c4c; "><strong>{{ category.label }}</strong></h5>
            {% for row in category.subset|columns:6 %}
                 <tr>
                    {% for item in row %}
                        <td>
                            <a href="{{ item.get_absolute_url }}">
                                <img class="structure-img" src={{ item.structure_url }}
                                     title={{ item.name }}  height="190" width="190"></a>
                            <div style="position: relative; left:6px; ">
                                <a href="{{ item.get_absolute_url }}">{{ item }}</a></div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function(){
        var isclicked = "{{ data_display }}";
        if (isclicked){
          $("#submit_button").hide();
        };
    });
    </script>
{% endblock %}
