{% extends "base_bioactive_listview.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load compound_filters %}

{% block title %}<title>Saved information</title>{% endblock %}

{% block content %}
<div class="col-sm-10" style="margin-bottom:18px; ">
      <h4 style="position:relative; left: 10px">Saved compound information</h4>
        <table class="table">
        <thead>
            <tr>
                <th>Structure</th>
                <th>Name</th>
                <th>Notes</th>
                <th colspan="2">Sources</th>
                <th colspan="2">Literature references</th>
            </tr>
        </thead>
        <tbody>
        {% if bioactive_list %}
        {% for compound in bioactive_list %}
            <tr>
                <td width="30px"><img class="structure-img" src={{ compound.structure_url }}
                         title="{{ compound.iupac_name }}"  height="100" width="100"></td>
                <td width="140px"><a href="{{ compound.get_absolute_url }}">{{ compound|truncatechars:52 }}</a></td>
                <td width="300px">{{ compound|user_notes:user.profile  }}</td>
                <td width="20px"><a href="{% url 'user-compound-sources'  pk=compound.pk compound_type='bioactive' %}">
                    <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="glyphicon glyphicon-leaf"></span></button></a></td>
                <td width="190px">{% for source in compound|user_sources:user.profile %}
                    <div>{{ source }}</div>
                    {% endfor %}</td>
                <td width="20px"><a href="{% url 'literature-references' pk=compound.pk compound_type='bioactive' %}">
                    <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="glyphicon glyphicon-book"></span></button></a></td>
                <td><h5 style="float:left; ">{{ compound|user_lit_refs:user.profile }}</h5></td>
            </tr>
        {% endfor %}
        {% endif %}
        {% if odorant_list %}
        {% for compound in odorant_list %}
            <tr>
                <td width="30px"><img class="structure-img" src={{ compound.structure_url }}
                         title="{{ compound.iupac_name }}"  height="100" width="100"></td>
                <td width="140px"><a href="{{ compound.get_absolute_url }}">{{ compound|truncatechars:52 }}</a></td>
                <td width="300px">{{ compound|user_notes:user.profile  }}</td>
                <td width="20px"><a href="{% url 'user-compound-sources'  pk=compound.pk compound_type='odorant' %}">
                    <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="glyphicon glyphicon-leaf"></span></button></a></td>
                <td width="190px">{% for source in compound|user_sources:user.profile %}
                    <div>{{ source }}</div>
                    {% endfor %}</td>
                <td width="20px"><a href="{% url 'literature-references' pk=compound.pk compound_type='odorant' %}">
                    <button type="button" class="btn btn-default dropdown-toggle">
                    <span class="glyphicon glyphicon-book"></span></button></a></td>
                <td><h5 style="float:left; ">{{ compound|user_lit_refs:user.profile }}</h5></td>
            </tr>
        {% endfor %}
        {% endif %}

        {% if not medicinal_list and not food_list and not odorant_list %}
            <tr>
                <td><h5>No saved compounds</h5></td>

        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
