{% extends "base_odorant_listview.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}<title>Current sources</title>{% endblock %}

{% block content %}
<div class="col-sm-10" style="margin-bottom:18px; ">
        <ul class="breadcrumb" style="background-color: transparent;">
          <li><a class="breadcrumb-item" href="{% url 'index' %}">Home</a></li>
          <li><a class="breadcrumb-item" href="{% url 'index' %}">All fragrance compounds</a></li>
          <li><a class="breadcrumb-item" href="{% url 'odorant-detail' pk=compound.pk %}">{{ compound|truncatechars:36  }}</a></li>
          <li><a class="breadcrumb-item active" href="{% url 'user-compound-sources' pk=compound.pk compound_type='odorant' %}">My sources</a></li>
        </ul>
      <h5 style="position:relative; left: 10px"><strong>Current saved sources</strong></h5>
        <form method="post">
        {% csrf_token %}
        <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>CCY</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Specification</th>
                <th>Supplier</th>
                <th>Product number</th>
                <th>Webpage</th>
            </tr>
        </thead>
        <tbody>
        {% if sources_list %}
        {% for source in sources_list %}
            <tr>
                <td><input type="checkbox" name="remove_source_ids" value="{{ source.id }}"></td>
                <td style="width:70px">{{ source.currency }}</td>
                <td>{{ source.price }}</td>
                <td>{{ source.amount }}{{ source.unit }}</td>
                <td>{{ source.specification|truncatechars:48 }}</td>
                <td>{{ source.supplier|truncatechars:24 }}</td>
                <td>{{ source.product_number|truncatechars:20 }}</td>
                <td><a href="{{ source.url }}">{{ source.url|truncatechars:20 }}</a></td>
            </tr>
        {% endfor %}
        {% for rel_source in rel_sources_list %}
            <tr>
                <td><input type="checkbox" name="remove_source_ids" value="{{ rel_source.id }}"></td>
                <td style="width:70px">{{ rel_source.source.currency }}</td>
                <td>{{ rel_source.source.price }}</td>
                <td>{{ rel_source.source.amount }}{{ source.unit }}</td>
                <td>{{ rel_source.source.specification|truncatechars:48 }}</td>
                <td>{{ rel_source.source.supplier|truncatechars:24 }}</td>
                <td>{{ rel_source.source.product_number|truncatechars:20 }}</td>
                <td><a href="{{ rel_source.source.url }}">{{ rel_source.source.url|truncatechars:20 }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <button name="remove_sources" type="submit" class="btn btn-primary">
           <span class="glyphicon glyphicon"></span>Remove</button>
        </form>
</div>
{% else %}
        <tr>
          <td>No sources</td>
        </tr>
        </tbody>
        </table>
{% endif %}
<div class="col-sm-5">
    <h4 style="position:relative; left: 10px">Add source</h4>
    <form method="post">
      {% csrf_token %}
            {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}

      <table >
          <div class="form-group">
        {% for field in form.visible_fields %}
          <tr>
            <th>{{ field.label_tag }}</th>
            <td>
              {{ field.errors }}
             {% render_field field class="form-control" %}
            </td>
          </tr>
        {% endfor %}
              </div>
      </table>
      <button type="submit" name="add_source" class="btn btn-primary" >
      <span class="glyphicon glyphicon"></span>Submit</button>
    </form>
</div>
<div class="col-sm-5">
    <h4 style="position:relative; left: 10px">Upload csv file</h4>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form upload_form %}
      <button type="submit"  name="csv_upload" class="btn btn-primary" >
      <span class="glyphicon glyphicon"></span>Upload</button>
    </form>
</div>
{% endblock %}
