{% extends "base_listview.html" %}

{% load staticfiles %}

{% block content %}

{% if sources_list %}
     <h5 style="color: #565c70; position:relative; left:42px; bottom: 24px"><strong>{{ page_header|capfirst }}</strong></h5>
        <ul style="list-style-type: none;">
        {% for source in sources_list %}
        <li>
            <h5><strong>Link: </strong><a href="{{ source.url }}">{{ source.url|truncatechars:62 }}</a></h5>
            <h5><strong>Price: </strong>  {{ source.price }}</h5>
            <h5><strong>Price: </strong>  {{ source.price }}</h5>
            {% if source.specification %}
              <h5><strong>Specification: </strong>  {{ source.specification }}</h5>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
{% else %}
     <p>Add sources using the form</p>
{% endif %}

{{ form }}

{% endblock %}
