{% extends "base_listview.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

{% if sources_list %}
<div class="col-sm-10">
      <h4 style="position:relative; left: 10px">Current sources</h4>
        <table class="table">
        <thead>
            <tr>
                <th>CCY</th>
                <th>Price</th>
                <th>Amount (kg)</th>
                <th>Specification</th>
                <th>Supplier</th>
                <th>Product number</th>
                <th>Webpage</th>
            </tr>
        </thead>
        <tbody>
        {% for source in sources_list %}
            <tr>
                <td style="width:30px">{{ source.currency }}</td>
                <td>{{ source.price }}</td>
                <td>{{ source.amount }}</td>
                <td>{{ source.specification|truncatechars:50 }}</td>
                <td>{{ source.supplier }}</td>
                <td>{{ source.product_number }}</td>
                {% if source.url %}
                     <td><a href="{{ source.url }}">{{ source.url|truncatechars:20 }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<div class="col-sm-2">
</div>
<div class="col-sm-5">
    <h4 style="position:relative; left: 10px">Add source</h4>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit"  name="add_source" class="btn btn-primary" >
      <span class="glyphicon glyphicon"></span>Submit</button>
    </form>
</div>
<div class="col-sm-5">
    <h4 style="position:relative; left: 10px">Upload csv file</h4>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form upload_form %}
      <button type="submit"  name="csv_upload" class="btn btn-primary" >
      <span class="glyphicon glyphicon"></span>Upload</button>
    </form>
</div>
{% endblock %}
